*{font-size: 16px;}
.title{font-size: 30px;
color: rgb(0, 102, 36);}
.description p{color: rgb(199, 13, 13);}
.description .exception{color: rgb(26, 93, 6);}

.function-declaration a, 
.list a{color: rgb(7, 71, 50);}
.function__title{font-size: 40px;}

/* ------------------ */

.list__block {background-color: rgb(251, 240, 225);
    max-width: 500px;
}

img{max-width: 700px ;}

.subtopics{line-height: 30px;}

.scroll-up{background-color: rgb(185, 185, 6);
color: black;}

.list a{color: rgb(89, 0, 0);}